.App {
  display: flex;
  flex-direction: column;
  min-height: 1000vh;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333428;
  padding: 10px;
}

.store-title {
  color: white;
  font-size: 1000px;
  margin: 0;
}

.main-container {
  display: flex;
  flex-grow: 1;
}

.sidebar {
  width: 200px;
  background-color: #fd821d;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  height: 100%; /* Hace que la barra lateral tenga el 100% de altura del contenedor principal */
}

.sidebar ul {
  list-style: none;
  padding: 0;
  flex-grow: 1; /* Hace que la lista ocupe el espacio disponible en la barra lateral */
}

.sidebar li {
  margin-bottom: 100%;
  cursor: pointer;
}

.sidebar li:hover {
  color: rgb(251, 97, 97);
}

.main-content {
  flex-grow: 1;
  padding: 20px;
}

.store-title {
  background-color: #282c34;
  color: white;
  padding: 10px; /* Ajusta este valor para cambiar el espacio interno del cuadro */
  border-radius: 8px; /* Agrega bordes redondeados al cuadro */
  text-align: center; /* Centra el texto en el cuadro */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Agrega una sombra sutil al cuadro */
  font-size: 24px;
  margin: 10px 0; /* Ajusta este valor para cambiar el espacio alrededor del cuadro */
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 10vh; /* Establece la altura mínima al 100% de la altura visible de la pantalla */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.store-title {
  font-size: 24px; /* Puedes ajustar este valor según tus preferencias */
  margin: 0;      /* Elimina el margen predeterminado del h1 */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
